# Don't use the C++ new,delete check since it doesn't work with Qt.
# Enable a bunch of modernization checks
Checks:          'clang-analyzer-alpha.*,-clang-analyzer-alpha.deadcode.UnreachableCode,-clang-analyzer-core.CallAndMessage,-clang-analyzer-cplusplus.NewDeleteLeaks,misc-forward-declaration-namespace,modernize-use-auto,modernize-use-nullptr,modernize-redudant-void-arg,readability-inconsistent-declaration-parameter-name,readability-simplify-boolean-expr,readability-container-size-empty,performance-for-range-copy,readability-identifier-naming,modernize-use-override,google-explicit-constructor'
CheckOptions:
    - key: readability-identifier-naming.ClassCase
      value: CamelCase
    - key: readability-identifier-naming.EnumCase
      value: CamelCase
    - key: readability-identifier-naming.FunctionCase
      value: lowerCase
    - key: readability-identifier-naming.GlobalFunction
      value: CamelCase
    - key: readability-identifier-naming.GlobalVarableCase
      value: camelBack
    - key: readability-identifier-naming.GlobalVariablePrefix
      value: g_
    - key: readability-identifier-naming.VariableCase
      value: camelBack
    - key: readability-identifier-naming.PrivateMemberPrefix
      value: m_
    - key: readability-identifier-naming.ProtectedMemberPrefix
      value: m_
    - key: readability-identifier-naming.MemberCase
      value: camelBack
    - key: readability-identifier-naming.Method
      value: camelBack
    - key: readability-identifier-naming.ClassMethod
      value: CamelCase
