*.pro.user*
dependencies/*
CMakeLists.txt.user
CMakeLists.txt.user.*
build/*
.idea
.install_pkg
.openelec-unpack
QtCreatorDeployment.txt
vagrant/ubuntu-x86_64/.vagrant
vagrant/windows-x86_64/.vagrant
build-*
cmake-build-*
*.pyc
conaninfo.txt
conanbuildinfo.*
web-client
.DS_Store
.*libreelec*
toolchain.cmake
.sublime-settings
.last_wc_version
debian/*.debhelper.log
debian/.debhelper/
debian/jellyfin-media-player/
debian/files
debian/jellyfin-media-player.substvars
dist.zip
obj-x86_64-linux-gnu/
deployment/dist
.vscode/
