!/.github/
!/.github/**
*.pro.user*
dependencies/*
/build/*
deps/*
dev/windows/deps/
dev/macos/deps/
.idea
*.pyc
.DS_Store
.*libreelec*
debian/*.debhelper.log
debian/.debhelper/
debian/jellyfin-desktop/
debian/files
debian/jellyfin-desktop.substvars
debian/debhelper-build-stamp
deployment/dist
