[Desktop Entry]
Version=1.0
Name=Jellyfin Media Player
GenericName=Media Player
Comment=View your media
Exec=jellyfinmediaplayer
Icon=jellyfinmediaplayer
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;

Actions=DesktopF;DesktopW;

[Desktop Action DesktopF]
Name=Desktop [Fullscreen]
Exec=jellyfinmediaplayer --fullscreen --desktop

[Desktop Action DesktopW]
Name=Desktop [Windowed]
Exec=jellyfinmediaplayer --windowed --desktop
