[Desktop Entry]
Version=1.0
Name=Plex Media Player
GenericName=Media Player
Comment=View your media
Exec=plexmediaplayer
Icon=plexmediaplayer
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;TV;

Actions=TVF;TVW;DesktopF;DesktopW;

[Desktop Action TVF]
Name=TV [Fullscreen]
Exec=plexmediaplayer --fullscreen --tv

[Desktop Action TVW]
Name=TV [Windowed]
Exec=plexmediaplayer --windowed --tv

[Desktop Action DesktopF]
Name=Desktop [Fullscreen]
Exec=plexmediaplayer --fullscreen --desktop

[Desktop Action DesktopW]
Name=Desktop [Windowed]
Exec=plexmediaplayer --windowed --desktop
