#! /usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	dh_auto_build $@
	DOWNLOAD_ONLY=1 ./download_webclient.sh
	tar -xzf dist.tar.gz
	mv jellyfin-web_* obj-x86_64-linux-gnu/dist

override_dh_auto_clean:
	dh_auto_clean $@
	rm dist.tar.gz || true
