[Desktop Entry]
Version=1.0
Name=Jellyfin Media Player
Comment=Desktop client for Jellyfin
Exec=jellyfinmediaplayer
Icon=com.github.iwalton3.jellyfin-media-player
Terminal=false
Type=Application
StartupWMClass=jellyfinmediaplayer
Categories=AudioVideo;Video;Player;TV;

Actions=DesktopF;DesktopW;TVF;TVW

[Desktop Action DesktopF]
Name=Desktop [Fullscreen]
Exec=jellyfinmediaplayer --fullscreen --desktop

[Desktop Action DesktopW]
Name=Desktop [Windowed]
Exec=jellyfinmediaplayer --windowed --desktop

[Desktop Action TVF]
Name=TV [Fullscreen]
Exec=jellyfinmediaplayer --fullscreen --tv

[Desktop Action TVW]
Name=TV [Windowed]
Exec=jellyfinmediaplayer --windowed --tv
