[Desktop Entry]
Version=1.0
Name=Jellyfin
Comment=Desktop client for Jellyfin
Exec=jellyfin-desktop
Icon=org.jellyfin.JellyfinDesktop
Terminal=false
Type=Application
StartupWMClass=org.jellyfin.JellyfinDesktop
Categories=AudioVideo;Video;Player;TV;

Actions=DesktopF;DesktopW;TVF;TVW

[Desktop Action DesktopF]
Name=Desktop [Fullscreen]
Exec=jellyfin-desktop --fullscreen --desktop

[Desktop Action DesktopW]
Name=Desktop [Windowed]
Exec=jellyfin-desktop --windowed --desktop

[Desktop Action TVF]
Name=TV [Fullscreen]
Exec=jellyfin-desktop --fullscreen --tv

[Desktop Action TVW]
Name=TV [Windowed]
Exec=jellyfin-desktop --windowed --tv
