name: build-windows

env:
  MPV_VERSION: "20251214-git-f7be2ee"
  QT_VERSION: "6.10.1"

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - artifact: windows-x64
            qt_arch: win64_msvc2022_64
            mpv_arch: x86_64-v3
            vc_redist_arch: x64
            vcvars: vcvars64.bat
            machine: X64
          # ARM64 disabled - requires WiX 4+ for installer support
          # - artifact: windows-arm64
          #   qt_arch: win64_msvc2022_arm64
          #   mpv_arch: aarch64
          #   vc_redist_arch: arm64
          #   vcvars: vcvarsamd64_arm64.bat
          #   machine: ARM64
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Install Qt 6
      uses: jurplel/install-qt-action@v4
      with:
        version: "${{ env.QT_VERSION }}"
        arch: "${{ matrix.qt_arch }}"
        modules: "qtwebengine qtwebchannel qtpositioning"
    - name: Install dependencies
      run: |
        mkdir build
        curl -L https://aka.ms/vs/17/release/vc_redist.${{ matrix.vc_redist_arch }}.exe > vc_redist.${{ matrix.vc_redist_arch }}.exe
        sed -i 's#C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\BuildTools\\VC\\Redist\\MSVC\\v142\\vcredist_x64.exe#'"$(readlink -f vc_redist.${{ matrix.vc_redist_arch }}.exe | sed 's#/\([a-z]\)/#\1:\\#g' | tr '/' '\\' | sed 's/\\/\\\\/g')#g" bundle/win/Bundle.wxs
        curl -L https://sourceforge.net/projects/mpv-player-windows/files/libmpv/mpv-dev-${{ matrix.mpv_arch }}-${{ env.MPV_VERSION }}.7z/download > mpv.7z
        7z x mpv.7z
        mkdir mpv
        mv include mpv
        gendef libmpv-2.dll
        mv libmpv-2.dll mpv/libmpv-2.dll
        mv libmpv-2.def mpv.def
        mv mpv.def libmpv.dll.a mpv/
        mv mpv build/
      shell: bash
    - name: Build
      run: |
        call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\${{ matrix.vcvars }}"
        cd build
        set PATH=%PATH%;C:\Program Files (x86)\WiX Toolset v3.11\bin;%CD%
        cmake -GNinja -DCMAKE_BUILD_TYPE=RelWithDebInfo -DCMAKE_INSTALL_PREFIX=output -DQTROOT=%QT_ROOT_DIR% -DMPV_INCLUDE_DIR=mpv/include -DMPV_LIBRARY=mpv/libmpv-2.dll -DCHECK_FOR_UPDATES=ON -DUSE_STATIC_MPVQT=ON ..
        lib /def:mpv\mpv.def /out:mpv\libmpv-2.dll.lib /MACHINE:${{ matrix.machine }}
        ninja
        mkdir output 2>nul
        copy ..\vc_redist.${{ matrix.vc_redist_arch }}.exe output\
        ninja windows_package
      shell: cmd
    - name: Archive production artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.artifact }}
        path: ${{ github.workspace }}/build/JellyfinDesktop-*.exe
