name: build-macos

on:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: macos-15
            artifact: macos-arm64
          - runner: macos-15-intel
            artifact: macos-intel
    runs-on: ${{ matrix.runner }}
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.10.1'
        arch: clang_64
        modules: 'qtwebengine qtwebchannel qtpositioning'
    - name: Install dependencies
      run: |
        brew update
        brew install mpv
    - name: Release build
      run: |
        cmake -B build -G Ninja \
          -DQTROOT=$QT_ROOT_DIR \
          -DCMAKE_PREFIX_PATH=$QT_ROOT_DIR \
          -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_INSTALL_PREFIX=output \
          -DCHECK_FOR_UPDATES=ON \
          -DUSE_STATIC_MPVQT=ON
        cmake --build build --target install
    - name: Sign and create dmg
      run: |
        codesign --force --deep -s - "./output/Jellyfin Desktop.app/"
        brew install create-dmg
        create-dmg --volname "Jellyfin Desktop" --no-internet-enable "Jellyfin Desktop.dmg" "./output/Jellyfin Desktop.app"
    - name: Archive production artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.artifact }}
        path: ${{ github.workspace }}/Jellyfin Desktop.dmg
